.logoContainer {
    margin-left: 4rem;
}

.imageElement--intro-about-corebiz {
    position: absolute;
    right: -16.5rem;
}

:global(.vtex-store__template) {
    position: relative;
    overflow: hidden;
}
.productBrand {
    color: #ffffff;
}