.paragraph--vision-text{
    font-family: Circular Std Medium,sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.paragraph--vision-title{
    font-family: Circular Std Medium,sans-serif;
    color: #f1c233;
    font-size: 2.4rem;
    font-weight: 600;
    margin-left: -50%;
}

.paragraph--values-text{
    font-family: Circular Std Medium,sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.paragraph--values-title{
    font-family: Circular Std Medium,sans-serif;
    color: #f1c233;
    font-size: 2.4rem;
    font-weight: 600;
}

@media screen and (min-width: 1024px) {
    .container--signup-title {
        margin-left: -7rem;
        width: 45%;
        padding-top: 8rem;
    }
    .container--acorebiz-title {
        width: 45%;
        padding-top: 7rem;
    }
    .container--signup-paragraph {
        margin-left: 1rem;
    }
    .container--acorebiz-paragraph {
        margin-left: 7%;
    }
}

@media screen and (max-width: 1024px) {
    .strong--signup-title {
        font-size: 3.4rem !important;
        margin-left: 4rem;
        padding-bottom: 0;
    }
    .strong--acorebiz-title {
        font-size: 3.4rem !important;
        margin-left: 4rem;
        padding-bottom: 0;
    }
    .container--signup-paragraph {
        margin-left: -4.2rem;
    }
    .container--signup-title {
        margin-left: -8rem;
    }
}

.container--acorebiz-paragraph {
    width: 48%;
    margin-left: 20%;
    margin-top: -7.5rem;
    margin-bottom: 10rem;
}

.container--signup-paragraph {
    width: 48%;
    margin-top: -7.5rem;
    margin-bottom: 10rem;
}

.container--acorebiz-title {
    width: 100%;
}

.paragraph--acorebiz-paragraph {
    max-height: 28.5rem;
    font-size: 1.13rem;
    line-height: 1.4;
    margin-top: 15%;
}

.paragraph--signup-paragraph {
    max-height: 28.5rem;
    font-size: 1.13rem;
    line-height: 1.4;
    margin-top: 15%;
}
.wrapper--footer-paragraph-container {
    color: #FFFFFF;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 1rem;
    max-width: 16rem;
    margin-left: 120px;
}