.socialNetworksTitle {
    color: #FFFFFF;
}
.socialNetworkWrapper--networks {
    margin-left: 120px;
}
.flexRowContent--text-footer {
    color: #FFFFFF;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 1rem;
    max-width: 16rem;
    margin-left: 120px;
}

.footerLayout {
    margin-top: 100px;
}